<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ anime.imageUrl }}"
        class="img-fluid rounded-start"
        alt="{{ anime.title }}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ anime.title }} - {{ anime.year }}</h5>
        <p class="card-text">
          {{ anime.description }}
        </p>
        <a (click)="navigateToAuthor(anime.authorId)" class="card-text">
          <small class="text-body-secondary">{{ anime.author }}</small>
        </a>
        <div>
          <button
            class="border-0 bg-transparent"
            (click)="toggleFavorite(anime)"
          >
            <i
              class="text-danger"
              [ngClass]="
                anime.favorite
                  ? 'bi bi-balloon-heart-fill'
                  : 'bi bi-balloon-heart'
              "
            ></i>
          </button>
        </div>
        <p>Genere: {{ anime.genres }}</p>
      </div>
    </div>
  </div>
</div>
